{% extends "groups/group_base.html" %}

{% block pregroup %}
<div class="container">
  <h1>{{group.name}}</h1>
  <h2> Member Count: {{group.members.count}}</h2><!--Grup üyelerini çağırdık-->

  <div class="content">
  	{% if user in group.members.all %}  <!--user eğer tüm üyelerin listesinde yer alırsa-->
  		<a href="{% url 'groups:leave' slug=group.slug %}"
         class="btn btn-lg btn-warning"><span
         class="fa fa-times-circle-o"></span> Leave</a>
  	{% else %}
  		<a href="{% url 'groups:join' slug=group.slug %}"
         class="btn btn-lg btn-warning"><span
         class="fa fa-check-circle-o"></span> Join</a>
  	{% endif %}

  </div>
</div>
{% endblock %}

{% block group_content %}

<div class="col-md-8">
	{% if group.posts.count == 0 %} <!--Group herhangi bir post'a sahip değilse-->
	<h2>No posts in this group yet!</h2>
	{% else %}

		{% for post in group.posts.all %}
			{% include "posts/_post.html" %} <!--post.html sayfasını import ettik-->
		{% endfor %}

	{% endif %}
</div>
{% endblock %}
